.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 30s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
	width: 100%;
  color: white;
	font-size: 2.0rem;
}

.App-intro {
  font-size: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.french.small-caps {
	font-family: 'IM Fell French Canon SC', serif;
}

.primer.small-caps {
	font-family: 'IM Fell Great Primer SC', serif;
}

.french {
	font-family: 'IM Fell French Canon', serif;
}

.primer {
	font-family: 'IM Fell Great Primer', serif;
}
